mattermost.url=http://localhost
mattermost.port=8065
mattermost.hook-token=
mattermost.channel=Running
mattermost.user.name=StravaBot
mattermost.user.icon-url=http://127.0.0.1:8080/img/user_icon.png

strava.subscription.id=
strava.subscription.verify-token=STRAVA

strava.api.url=https://www.strava.com/api/v3
strava.api.activity-endpoint=/activities/{{id}}
strava.oauth.token-endpoint=https://www.strava.com/api/v3/oauth/token
strava.oauth.grant-type=refresh_token
strava.oauth.client-id=
strava.oauth.client-secret=
strava.oauth.refresh-token=
strava.oauth.authorize-url=https://www.strava.com/oauth/authorize?client_id={clientId}&redirect_url={redirectUrl}&scope=activity:read_all
strava.oauth.authorize-redirect-url=[app url]/strava/code
strava.api.code=

connector.approval-url=

spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=create-drop
spring.h2.console.enabled=true