<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strava Mattermost Connector</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/strava.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="row'">
    <div class="col-md-12">
        <h1><a class="strava-orange" th:href="@{/}">Strava Mattermost Connector</a></h1>
        <h3>You have successfully authorized our application with Strava.</h3>
        <p>The next step in the process is for us to setup your Mattermost integration settings.</p>
        <form action="#" th:action="${nextStep}" method="post" th:object="${configurationDetails}">
            <div class="form-row">
                <div class="form-row col-md-12">
                    <h3 style="margin-top: -5px;">Sharing Configuration</h3>
                    <div class="form-group">
                        <label for="measurementSystem"><b>Measurement System.</b></label>
                        <span>This will determine what system is used when your activities are shared.</span>
                        <select class="form-control" id="measurementSystem" th:field="*{sharingDetails.measurementSystem}">
                            <option th:value="Imperial">Imperial</option>
                            <option th:value="Metric">Metric</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <p><b>Which types of activities would you like to share?</b></p>
                        <input type="checkbox" class="form-check-input" id="details-running" th:checked="${configurationDetails.sharingDetails.shareRunning}" th:field="*{sharingDetails.sharePace}">
                        <span style="padding: 10px;">Running</span>
                        <input type="checkbox" class="form-check-input" id="details-biking" th:checked="${configurationDetails.sharingDetails.shareBiking}" th:field="*{sharingDetails.shareBiking}">
                        <span style="padding: 10px;">Biking</span>
                        <input type="checkbox" class="form-check-input" id="details-swimming" th:checked="${configurationDetails.sharingDetails.shareSwimming}" th:field="*{sharingDetails.shareSwimming}">
                        <span style="padding: 10px;">Swimming</span>
                    </div>
                    <br>
                    <div class="form-check">
                        <p><b>Which details would you like to share?</b> If nothing is selected we will only share the title of the activity.</p>
                        <input type="checkbox" class="form-check-input" id="details-pace" th:checked="${configurationDetails.sharingDetails.sharePace}" th:field="*{sharingDetails.sharePace}">
                        <span style="padding: 10px;">Pace</span>
                        <input type="checkbox" class="form-check-input" id="details-distance" th:checked="${configurationDetails.sharingDetails.shareDistance}" th:field="*{sharingDetails.shareDistance}">
                        <span style="padding: 10px;">Distance</span>
                        <input type="checkbox" class="form-check-input" id="details-duration" th:checked="${configurationDetails.sharingDetails.shareDuration}" th:field="*{sharingDetails.shareDuration}">
                        <span style="padding: 10px;">Duration</span>
                        <input type="checkbox" class="form-check-input" id="details-route-map" th:checked="${configurationDetails.sharingDetails.shareRouteMap}" th:field="*{sharingDetails.shareRouteMap}">
                        <span style="padding: 10px;">Route Map</span>
                    </div>
                    <h3 style="margin-top: 20px;">Mattermost Configuration</h3>
                    <label for="mattermostUserName">Mattermost User Name</label>
                    <input style="margin-bottom: 10px;"  type="text" class="form-control" id="mattermostUserName" th:value="${configurationDetails.mattermostDetails.userName}" th:field="*{mattermostDetails.userName}">
                </div>
            </div>

            <div class="form-row" th:if="${configurationDetails.mattermostDetails.hidden == null or not configurationDetails.mattermostDetails.hidden}">
                <div class="form-group col-md-6">
                    <label for="mattermostHost">Mattermost Hostname</label>
                    <input type="text" class="form-control" id="mattermostHost" th:value="${configurationDetails.mattermostDetails.host}" th:field="*{mattermostDetails.host}" placeholder="http://">
                </div>
                <div class="form-group col-md-6">
                    <label for="mattermostPort">Mattermost Port</label>
                    <input type="text" class="form-control" id="mattermostPort" th:value="${configurationDetails.mattermostDetails.port}" th:field="*{mattermostDetails.port}" placeholder="80">
                </div>
            </div>

            <div class="form-row" style="margin-top: 20px" th:if="${configurationDetails.mattermostDetails.hidden == null or not configurationDetails.mattermostDetails.hidden}">
                <div class="form-group col-md-6">
                    <label for="mattermostTeamName">Mattermost Team Name</label>
                    <input type="text" class="form-control" id="mattermostTeamName" th:value="${configurationDetails.mattermostDetails.teamName}" th:field="*{mattermostDetails.teamName}">
                </div>
                <div class="form-group col-md-6">
                    <label for="mattermostChannelName">Mattermost Channel Name</label>
                    <input type="text" class="form-control" id="mattermostChannelName" th:value="${configurationDetails.mattermostDetails.channelName}" th:field="*{mattermostDetails.channelName}">
                </div>
            </div>

            <div class="form-row" th:if="${configurationDetails.mattermostDetails.hidden == null or not configurationDetails.mattermostDetails.hidden}">
                <div class="form-group col-md-12">
                    <label for="mattermostHookToken">Mattermost Hook Token</label>
                    <input type="text" class="form-control" id="mattermostHookToken" th:value="${configurationDetails.mattermostDetails.hookToken}" th:field="*{mattermostDetails.hookToken}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <br>
                    <button type="submit" class="strava-btn">Looks good, let's continue...</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>