<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strava Mattermost Connector</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="row'">
    <div class="col-md-12">
        <h1>Strava Mattermost Connector</h1>
        <h3>You have successfully registered with the Strava Mattermost Connector</h3>
        <p>New activities on your feed will now automatically be posted to the mattermost channel. If you wish to stop this from happening you can
        revoke the applications privileges in your <a href="https://www.strava.com/settings/apps">Strava Settings</a></p>
    </div>
    <div class="col-md-6">
        <h3>Want others on your server to register?</h3>
        <p>You can share this link with others on your mattermost server and it will pre-configure their mattermost settings
            for them when they authorize!</p>
        <code class="text-break" style="overflow-wrap: break-word; word-break: break-word" th:text="${shareSettingsLink}"}/>
        <br><br><span class="text-info">Hint: Triple click red text to select all of it.</span>
    </div>
    <div class="col-md-6">
        <h3>Thank you!</h3>
        <span text="text-info">If you've enjoyed using this service please consider a small donation. Proceeds earned will go directly to
        the cost of running the service (heroku, google API, etc).</span> <br><br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="JKVPDMZAU665N" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <h3>Questions, comments, concerns...</h3>
        <p>Feel free to reach out via the <a href="https://github.com/josephbleau/Strava-Mattermost-Connector/issues">issues section on github</a>! Or if you'd like you <a href="mailto:jbleau+stravamm@gmail.com">can email me.</a></p>
    </div>
</div>
</body>
</html>