<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strava Mattermost Connector</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/strava.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="row'">
    <div class="col-md-12">
        <h1><a class="strava-orange" th:href="@{/}">Strava Mattermost Connector</a></h1>
        <h3>We're almost done, time to check Mattermost!</h3>
        <p>Thanks for providing that information! As one final step please check the mattermost message that was sent and provide the code here that was sent.
        <div class="alert alert-danger" role="alert" th:if="${error != null}">
            <span th:text="${error}"/>
        </div>
        <form action="#" th:action="@{/registration/check}" method="post" th:object="${verificationCode}">
            <div class="form-row">
                <label for="verificationCode">Verification Code</label>
                <input type="text" class="form-control" id="verificationCode" th:field="*{code}"/>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="strava-btn">Validate Code</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>